.card-info-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.card-info-popup.inactive {
    display: none;
}

.card-info-popup.active {
    display: block;
}

.popup-content {
    position: absolute;
    padding: 20px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: grey;
    border-radius: 20px;
}

.popup-close-btn {
    position: absolute;
    padding: 1px 5px;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup-info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 50px;
}

.popup-user-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url('../images/piotr.jpg');
    background-position: center;
    background-size: cover;
}

.popup-user-name {
    margin-left: 20px;
}

.popup-date {
    margin-right: 30px;
    font-size: 25px;
}

.popup-title {
    margin: 10px 0 0 20px;
    font-size: 25px;
}

hr {
    margin: 20px 30px;
    background-color: rgb(49, 49, 49);
    border: 1px solid rgb(49, 49, 49);
    border-radius: 30px;
}

.popup-comments {
    padding: 5px 20px;
    list-style-type: none;
    min-height: 100px;
    max-height: 500px;
    border-radius: 20px;
    background-color: rgba(56, 56, 56, 0.3);
}

.popup-comments li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 13px;
}

.popup-comments li span {
    margin-left: 20px;
    font-size: 20px;
}

p {
    margin-top: 15px;
}

.comment-input {
    display: block;
    padding: 10px 20px;
    width: 100%;
    margin: 5px auto 0 auto;
    border: none;
    border-radius: 10px;
    background-color: rgba(56, 56, 56, 0.3);
}

.popup-add-comment {
    display: block;
    padding: 5px 10px;
    margin: 20px auto 0 auto;
    font-size: 18px;
    cursor: pointer;
}