.header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    text-transform: uppercase;
    color: white;
    background-color: grey;
}