.header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
    width: 100%;
    text-transform: uppercase;
    color: white;
}

.popup-user-info {
    display: flex;
    align-items: center;
}

.header-title {
    font-weight: lighter;
    letter-spacing: 3px;
}