.main {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 70%;
    height: 100vh;
    
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 55px;
    height: 90%;
    width: 100%;
}

.task-area-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.task-area-title {
    text-align: center;
    color: white;
    font-size: 29px;
    font-weight: lighter;
}

.task-area {
    margin: 0 auto;
    height: 90%;
    width: 100%;
    border-radius: 10px;
    /* background-color: grey; */
}

.task-card {
    margin: 40px auto;
    padding: 10px 15px;
    width: 90%;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    transition: all .1 ease-in;
    cursor: pointer;
}

.task-card:hover {
    background-color: rgb(148, 147, 147);
    border: 1px solid black;
    color: black;
}

.card-info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-user-info {
    display: flex;
    align-items: center;
}

.user-photo {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    background-image: url('../images/piotr.jpg');
    background-position: center;
    background-size: cover;
}

.user-name {
    font-size: 20px;
}

.task-title {
    margin: 10px 0 0 20px;
    font-size: 18px;
}