* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

body {
    background: linear-gradient(18deg, rgba(62,62,62,1), rgb(73, 73, 73));
}

.wrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 3000px;
}